<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Friends List</title>
<link
	href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900|Quicksand:400,700|Questrial"
	rel="stylesheet" />


<script src="http://connect.facebook.net/en_US/all.js"></script>
</head>


<body>
	<div id="header-wrapper">
		<div id="header" class="container">
			<div id="logo">
				<h1>
					<a href="/gmfb">Facebook Analytics</a>
				</h1>
				<div id="menu">
					<ul>
						<li class="active"><a href="/gmfb" title=""><span
								th:text="${facebookProfile.name}"></span></a></li>
						<li><a href="#" title="">About Us</a></li>
						<li><a th:href="@{/signout}">Disconnect</a></li>
					</ul>
				</div>
			</div>
		</div>

	</div>
	<div id="page-wrapper">
		<a href="/gmfb">Personal Profile</a> > Your Friends
		<div id="welcome" class="container">
			<div class="title">
				<h2>List of Friends</h2>
			</div>


			<form action="checkboxes" method="post" class="form1">
				<input type="submit" value="Common Friends" class="button" /> <input
					type="reset" value="Clear All" class="button" /> <br> <br>
				<br>
				<ul class="checkbox-grid">
					<li th:each="name, i : ${names}"><input type="checkbox"
						name="id[]" th:value="${id[i]}" /><span th:text="${name}"></span></li>
				</ul>
			</form>
		</div>
	</div>

	<div class="wrapper"></div>
	<div id="copyright" class="container">
		<p>POLIMI - Advanced Web Technology</p>

	</div>
</body>
</html>
