<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Personal Profile</title>
<link
	href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900|Quicksand:400,700|Questrial"
	rel="stylesheet" />

</head>
<body>
	<div id="header-wrapper">
		<div id="header" class="container">
			<div id="logo">
				<h1>
					<a href="/gmfb">Facebook Analytics</a>
				</h1>
				<div id="menu">
					<ul>
						<li class="active" ><a
							href="/gmfb" title=""> <span th:text="${facebookProfile.name}"></span> </a></li>
						<li><a href="#" title="">About Us</a></li>
						<li><a th:href="@{/signout}">Disconnect</a></li>
					</ul>
				</div>
			</div>
		</div>

	</div>
	<div id="page-wrapper">
		<div id="welcome" class="container">
			<div class="title">
				<h2>Personal Profile</h2>
			</div>
			<img
				th:src="'http://graph.facebook.com/' + ${facebookProfile.id} + '/picture'" />
			<h3>
				Name: <span th:text="${facebookProfile.name}"></span>
			</h3>
			ID: <span th:text="${facebookProfile.id}"></span><br /> Gender: <span
				th:text="${facebookProfile.gender}"></span><br /> Locale: <span
				th:text="${facebookProfile.locale}"></span>
				<a href="friendsList" class="button">See your friends</a>
		</div>
	</div>
	<div class="wrapper"></div>
	<div id="copyright" class="container">
		<p>POLIMI - Advanced Web Technology</p>

	</div>
</body>
</html>
